[Bb]in
ClientBin
[Oo]bj
build
*.suo
_ReSharper.*
*.user
*.sln.cache
*.swp
*.vssscc
*.vspscc
*.build.*
*.orig
.vs
*~
.idea/
release/
lib/
*.nupkg
src/GlobalAssemblyInfo.cs
src/Mixpanel.NET/packages
src/Mixpanel.NET/packages
src/Mixpanel.NET/packages
/src/Workshare.Mixpanel.NET/Acknowledgments.txt
/src/Workshare.Mixpanel.NET/InstalledPackages.json
/src/Workshare.Mixpanel.NET/Litera.Agreements.Generator/
/src/Workshare.Mixpanel.NET/oss_request.txt
/src/Workshare.Mixpanel.NET/oss_used.json
/src/Workshare.Mixpanel.NET/Third-Party License Agreements.rtf
/src/Workshare.Mixpanel.NET/Third-Party License Agreements.txt
/VersionNumber.txt
