[Bb]in
ClientBin
[Oo]bj
build
*.suo
_ReSharper.*
*.user
*.sln.cache
*.swp
*.vssscc
*.vspscc
*.build.*
*.orig
.vs
*~
.idea/
release/
lib/
*.nupkg
src/GlobalAssemblyInfo.cs
src/Mixpanel.NET/packages
src/Mixpanel.NET/packages
src/Mixpanel.NET/packages
