<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <config>
    <add key="repositoryPath" value="src/Mixpanel.Net/packages" />
  </config>
  <packageSources>
	<add key="Litera" value="https://pkgs.dev.azure.com/litera/Default/_packaging/Litera/nuget/v3/index.json" />
  </packageSources>
</configuration>